<div class="col-xs-12 col-sm-12 col-md-12">
					<%= button_tag 'Concluir',{class: "button-size btn btn-lg btn-primary center-block", name: :finish_exam, "data-confirm" =>  "Tem certeza que deseja finalziar o teste?"} %>
</div>