<div class="container-fluid container-logged-user">
	<img src="https://cdn1.iconfinder.com/data/icons/free-98-icons/32/user-32.png" class="img-cicle img-responsive img-user" title="Usuário" alt="User"/>
	<h4 class="right-block user-name"><%= @exam.name unless @exam == nil %></h4>
</div>
