<%= form_tag '/request_maker_identification', {method: :get} do %>
	<div class="main-screen container-fluid">

		<div class="page-header">
			<h1 class="center-block main-title">
				GAS
			</h1>
		</div>

		<p class="description-title"> 
			Go ahead student, click down
		</p>

		<button class="btn btn-default navbar-btn center-block button-go-ahead">
			GO AHEAD
		</button>
	</div>
<% end -%>
