<div class="container-fluid">
	<% Classification.all.each do |classi|%>
		<h5 style="margin: 1px; border-bottom: 1px solid #AAA;">
			<%= classi.name %>
		</h5>

		<% mais_um = true %>
		<% Question.where(classification: classi).each do |question| %>
			<% if mais_um %>
				<div class="row" style="page-break-before: auto">
			<% end %>
					<div class="col-lg-6 col-md-6 col-xs-6">
						<h6 style="margin: 1px 0px;page-break-before: avoid">
							<strong>ID</strong>=<%= question.id %>
						</h6>
						<%= image_tag question.title,  {style: "max-width: 100%; page-break: avoid"} %>
						<h6 style="margin-left: 20px; border-bottom: 1px solid #AAA;margin: 1px 0px; page-break-before: avoid"> 
							<strong>Resposta:</strong> <%= Alternative.find_by(correct: true, question: question).title %> 
						</h6>
					</div>

			<% if !mais_um %>
				</div>
			<% end %>

			<% mais_um = !mais_um %>
		<% end %>

		<% if !mais_um %>
				</div>
		<% end %>
		<div style="page-break-after: always"></div>
	<% end %>
</div>