body
{
	padding-bottom: 50px;
}

.container-btn-question
{
	padding: 5px;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #E7E7E7;
}

.btn-group-question
{
}

.btn-question-navigation
{
	margin: 2px 0px 2px 0px;
}

.container-navbar-margin
{
	margin: 8px auto;
}

.navbar-fixed-bottom
{
    height: 50px;
}

.button-size
{
    width: 70px;
    height: 35px;
    font-size: 11pt;
	padding: 0px;
}

.alert-text
{
	text-align: center;
}

.question-alternative
{
	margin: 15px;
}

.question-description-image
{
}

.question-title-image
{
	border: 0px;

}
